version: "3.7"
services:
  backend:
    build:
      target: production
    ports:
      - ${BACKEND_PORT_2}:${BACKEND_PORT_2}
    env_file:
      - .env
    environment:
      PORT: ${BACKEND_PORT_2}
      DB_URL: ${DATABASE_URL}
    command: npm run start:prod
    healthcheck:
      test: curl --fail -s http://localhost:${BACKEND_PORT_2}/backend/ || exit 1
      interval: 500s
      timeout: 5s
      retries: 3